# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints

# PyTorch / Model files

*.pt
*.pth
*.ckpt
*.onnx


# Data (IMPORTANT)
dataset/
data/
*.zip
*.tar
*.gz

# Ignore large images if needed
*.jpg
*.png
*.jpeg


# Logs & Outputs
logs/
*.log
runs/


# System files
.DS_Store
Thumbs.db


# IDEs / Editors
.vscode/
.idea/


# Matplotlib / Cache
*.cache
*.pkl


# Environment variables
.env

# Misc
*.bak
*.tmp